body {
	background-color: #FFF; /* imagem caso o browser não aceite a feature */ 
	/* Firefox 3.6+ */ 
		
}

img.skew {
	-webkit-transform: skew(30deg); 
	/* para webkit */
	 -moz-transform: skew(30deg);
	 /* para gecko */ 
	-o-transform: skew(30deg); 
	/* para opera */ transform: skew(30deg); /* para browsers sem prefixo */
}

div.skew {
	height: 300px;
	width: 300px;
	background-color: #cb3398;
	 -webkit-animation-name: rodaroda; 
	-webkit-animation-duration: 2s; 
	-webkit-animation-timing-function: linear; 
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-direction: alternate;
	box-shadow: 20px 20px 20px #ccc;
	border-radius: 100%;
	
	background-image: url(images/gradiente.png); 
/* Firefox 3.6+ */ 
background-image: -moz-linear-gradient(green, red); 
/* Safari 5.1+, 
Chrome 10+ */ 
background-image: -webkit-linear-gradient(green, red);
 /* Opera 11.10+ */ 
background-image: -o-linear-gradient(green, red);
} 

a {
  color: #000;
  font-size:20px;
  -webkit-transition: 1s;
}

a:hover {
	color: #fc0;
	 -webkit-transition: 0.5s;
}

@-webkit-keyframes rodaroda { 
	from { 
		-webkit-transform:rotate(0deg); 
	}
 	to { 
		-webkit-transform:rotate(360deg);
	   }
 }
 
 